@font-face {
    font-family: 'metabold';
    src: url('fonts/meta-bold.eot');
    src: url('fonts/meta-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/meta-bold.woff') format('woff'),
         url('fonts/meta-bold.ttf') format('truetype'),
         url('fonts/meta-bold.svg#meta-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metanormal';
    src: url('fonts/meta-normal.eot');
    src: url('fonts/meta-normal.eot?#iefix') format('embedded-opentype'),
         url('fonts/meta-normal.woff') format('woff'),
         url('fonts/meta-normal.ttf') format('truetype'),
         url('fonts/meta-normal.svg#meta-normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 16px;
}

body {
    background:white;
    font-family: metanormal, Helvetica, Arial, sans-serif;
		color: #666666;
}

h1,h2,h3,h4,h5,h6, #header ul.menu li a, dt {
    font-family: metabold, Helvetica, Arial, sans-serif;
}

h1,h2,h3, #header ul.menu li a {
    text-transform: uppercase;
    font-weight: bold;
}

iframe {
  border: none;
  width: 100%;
}

#page-wrapper {

}

body.front div#block-system-main div.content iframe {
	margin: 1em;
}

#main, #footer, #header {
	position: relative;
	clear: both;
}

#footer {
	background-color: #666666;
	margin: 1em 2% 3em 2%;
	color: white;
}

#page-wrapper #header {
	position: relative;
	z-index: 1;
  margin: 0.5em auto 0 auto;
}

#main .header-rule {
	position: absolute;
	top: -1em;
	left: 2%;
	right: 2%;
	height: 1px;
	top-bottom: solid 1px #23BCB9;
}

#main {
	z-index: 2;
}

#header .block {
	margin: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


#content > article > .page-section,
#content div.messages {
  clear: both;
}

#content table td, #content table th {
  padding: 0.125em 0.625em 0.125em 0;
}

#logo {
	position: absolute;
	top: 0;
	left:2%;
	width: 100%;
	background-color: white;
	background-image: url(/sites/all/themes/freetibet/images/freetibet-vector.svg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size: contain;
}

html.lt-ie9 #logo {
	background-image: url(/sites/all/themes/freetibet/images/freetibet-bitmap.png);
}

#header, #logo {
	height: 60px;
}

#header .region-header {
	position: absolute;
	pointer-events: none;
	top: 0;
	right: 0;
	width: 88%;
	height: 100%;
}

.region-content-bottom {
  clear: both;
  position: relative;
  margin: 1em 0;
  margin: 2vh 0;
}

#header .region-header nav,
#header .region-header > div,
#header .region-header button {
	pointer-events: auto;
}

#content .ds-2col-stacked > .group-right,
#content .ds-2col-stacked > .group-left {
  width: 48%;
}

#content .ds-2col-stacked > .group-left {
  padding: 0 2% 0 0;
}

#content .ds-2col-stacked > .group-right {
  float: right;
}


/* Basic elements */

form#payment-donation-form .hidden,
.hidden {
  display: none;
}

.error {
	color: #cc0000;
}
div.status {
	color: #009900;
}

a:link, a:hover, a:visited, a:active {
	color: #2faeb9;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

#content .element-invisible {
	position: absolute;
	top: 0;
	left: -9999em;
}

input.form-text {
		font-size: 1em;
    padding: 0.125em;
    margin: 0.25em 0;
		height: 1em;
		border: solid 1px #2faeb9;
    font-weight:bold;
}

input.form-submit {
	cursor: pointer;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
	box-shadow: 1px 1px 2px #CC0000;
}

/* Main navigation */


/* Main menu nicemenus */

#header .block-menu-block {
    margin:0;
		position:relative;
}

.item-list .page,
.item-list .pager li,
.view-content ul,
.view-content ul li,
#header .block-menu-block ul {
	list-style: none;
}

.item-list .pager {
  text-align: center;
}

.item-list .pager li {
  display: inline-block;
}

.view-content ul,
.view-content ul li {
  padding: 0;
  margin: 0;
}

#content article.node > div.block-views {
  margin: 0;
}

#header .block-menu-block ul {
	padding-left: 0;
	text-align: center;
}


#header .block-menu-block li { 
		font-weight:bold;
    padding: 0 1.5em 0 0;
    float:left;
		list-style-type: none;
		margin: 0 0.25em 0 0;
}

#header li.regular-donation a,
#header li.donate a,
#header li.join a,
#header li.join-free-tibet a {
  color: #bc2373;
}

#header .block-menu-block ul > li { 
	font-size: 1.5em;
}

/* Search */
#block-search-form {
    position: absolute;
    z-index: 99;
    top: 0;
		right: 2%;
}

#block-search-form input.form-text {
		width: 72%;
		padding: 0.25em 0 0.25em 1.25em;
		margin: 0;
		background-color: transparent;
		font-weight: normal;
}

#search-block-form {
  position: relative;
  margin: 0.5em 0 0.75em 2em;
  height: 2em;
}

#search-block-form .form-item {
	margin: 0;
}

#search-block-form div {
	display: inline-block;
}

#search-block-form .icon-search {
	color: #aaaaaa;
	position: absolute;
	top: 0.375em;
	left: 0.175em;
}

#search-block-form label {
	display: none;
}

#block-search-form input.form-submit {
		position: relative;
		background: none;
    height: 1.5em;
    font-size: 0.9em;
    margin:0;
    padding: 0.125em 0;
    position:relative;
		color: #2faeb9;
		border: none;
}

#header .icon-menu {
	display: none;
}

#header .icon-menu:focus {
	outline:0;
}

#footer .block-menu-block ul, #footer .block-menu li {
	list-style-type: none;
}

#footer .block-menu ul,
#footer .block-menu > ul > li {
	padding: 0;
	margin:0;
	float: none;
}

#footer .block-menu > ul > li li {
	padding: 0 0 0 1em;
}

#footer .block-menu li a {
	display: block;
	color: white;
}

#footer .block-menu li a:hover {
	color: #2faeb9;
}

#footer #block-menu-menu-footer-menu {
  clear: both;
	height: 2em;
	margin: 0 auto 0.25em auto;
}

/* Email signup */
#footer .block-menu,
#footer #block-mailchimp-lists-email-updates {
	margin-top: 1em;
}

#footer .block-mailchimp-lists {
  float: right;
  margin-bottom: 4em;
}




#content article.view-mode-full,
article > .node-media-section {
	clear: both;
	margin: 0;
}

.view-mode-boxes,
#content form {
  clear: both;
}

#content .view-mode-full > .field-name-field-image {
	clear: none;
	float: right;
	padding: 0 0 1em 1em;
}

#content figure {
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	-moz-margin-start: 0;
	-moz-margin-end: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

#content .view-mode-full figure.view-mode-medium {
	margin: 0;
	padding: 0;
}

#content .page-section {
	clear: both;
}

#content .view-mode-full figure.view-mode-medium.file-video {
	width: 50%;
	max-width: 480px;
}

#content .view-mode-full figure.view-mode-medium.file-video iframe {
	height: 29.125vw;
	max-height: 290px;
}

body.front h1#page-title {
    display:none;
}

/* Banner */

#region-banner p {
    margin:0;
    padding:0;
}

/* Publications */

iframe#pdf {
    width: 96%;
    margin: 2%;
}

/* Slider */
.flexslider .slides .view-mode-default,
.flexslider .slides .view-mode-default picture {
  position: relative;
  width: 100%;
  height: 100%;
}

.flexslider .slides .view-mode-default picture {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.flexslider .slides .view-mode-default picture:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#content .flexslider .slides .view-mode-default img {
  width: auto;
  height: auto;
  margin:auto; 
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.entity-shopify-product .field-name-shopify-product-images img,
figure img, picture img, #content .field-name-field-box .field-name-field-image img {
  width: 100%;
  height: auto;
}

#block-system-main .field-item div.even {
    margin-left: 1em; !important
}
 
/* Hover links */

a:hover {
    text-decoration:underline; !important
}

#page-title {
 	margin: 0.75em auto 0.5em auto;
	padding: 0.5em 0;
 	font-size: 2em;
	border-top: solid 1px #23BCB9;
}

.field-name-taxonomy-catalog .field-label {
    font-weight:normal;
}

div.display-price {
    font-size: 2.3em;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 4px;
    text-align: center;
}

.content #product_weight p, .content #product_dimensions p {
font-size: 0.85em;
margin: 0 15px;
}

.views-field-title a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.view table tbody tr td {
  padding: 1em 0.33em;
}

div.view table tbody tr {
  border-bottom: 1px solid #D0E0E0;
}

div.view table tbody tr.row-last {
  border-bottom: none;
}

.floatleft {
	float:left;
		margin:0 1em 1em 0;
}

.floatright {
    float:right;
    margin:0 0 1em 1em;
}

#block-menu-menu-footer-menu ul {
	margin: 0 auto;
	text-align: center;
}

#footer #block-menu-menu-footer-menu li {
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
    margin: 0.5em;
}

#block-menu-menu-footer-menu li a {
    color:#fff;
}

.field-type-datetime {
    margin-left:  1em;
}

.view-press-release-list .views-field-title {
    font-size:110%;
}

.view-press-release-list img {
    margin-left:15px;
}

.view-press-release-list strong {
    font-weight:normal;
}

.view-press-release-list.view-display-id-page_2 .views-row {
    margin-bottom:60px;
}

.view-id-press_release_list.view-display-id-page_1  .views-row {
    padding:0 0 60px 15px;
}

.view-id-press_release_list.view-display-id-block .views-row, .view-id-press_release_list.view-display-id-block_1 .views-row  {
    margin:15px;
}

#block-views-press-release-list-block-2 {
    height: 155px;
}

.view-id-publications {
    margin-left: 1em;
}

.hide {
    display:none;
}
	
	/* Block Class custom styling end */
	
#content > .view-mode-full {
  clear: both;
}	


.page-section > .flexslider,
article.node > .flexslider {
	position: relative;
}
.page-section > .flexslider .flex-viewport,
article.node > .flexslider .flex-viewport {
  max-width: 99.9%;
}

.page-section > .flexslider .flex-slide > .block,
.page-section > .flexslider .field-name-field-link,
.page-section > .flexslider figcaption,
article.node > .flexslider .flex-slide > .block,
article.node > .flexslider .field-name-field-link,
article.node > .flexslider figcaption {
	position: absolute;	
	margin:0;
}

article.node > .flexslider figure {
	margin: 0;
	padding: 0;
}

#content .svg-img {
	max-width: 100%;
}

.page-section > .flexslider .flex-slide > .block,
.page-section > .flexslider .field-name-field-link,
article.node > .flexslider .flex-slide > .block,
article.node > .flexslider .field-name-field-link {
	max-width: 20%;
}

.page-section > .flexslider .field-name-field-link,
article.node > .flexslider .field-name-field-link {
  padding: 1em 2% 1em 2%;
  top: 36%;
}

.page-section > .flexslider .has-link-and-block .field-name-field-link,
article.node > .flexslider .has-link-and-block .field-name-field-link {
  top: auto;
  bottom: 10%;
}

.page-section > .flexslider .flex-slide > .block,
article.node > .flexslider .flex-slide > .block {
  padding: 0;
  top: 25%;
}

.page-section > .flexslider .flex-slide > .block,
.page-section > .flexslider .flex-slide .field-name-field-link,
article.node > .flexslider .flex-slide > .block,
article.node > .flexslider .flex-slide .field-name-field-link {
	left: 68.5%;
  text-transform: uppercase;
}

.page-section > .flexslider .field-name-field-link a,
.page-section > .flexslider .field-name-field-link a,
article.node > .flexslider .field-name-field-link a,
article.node > .flexslider .field-name-field-link a {
	color: #666666;
}

article.node > .flexslider .field-name-field-link a:hover {
	color: #2faeb9;
}

.page-section > .flexslider .ds-1col,
.page-section > .flexslider .flex-slide > div.file,
.page-section > .flexslider .ds-1col .media-youtube-video,
.page-section > .flexslider .ds-1col .media-vimeo-video,
article.node > .flexslider .ds-1col,
article.node > .flexslider .flex-slide > div.file,
article.node > .flexslider .ds-1col .media-youtube-video,
article.node > .flexslider .ds-1col .media-vimeo-video {
	position: absolute;
	top: 0;
	height: 100%;
}

.page-section > .flexslider .field-name-field-link,
.page-section > .flexslider figcaption,
article.node > .flexslider .field-name-field-link,
article.node > .flexslider figcaption {
  width: 30%;
  right: 0;
}

.page-section > .flexslider figcaption,
article.node > .flexslider figcaption {
  top: 0;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #2faeb9;
}

.page-section > .flexslider .field-name-field-link,
article.node > .flexslider .field-name-field-link {
  bottom: 0;
}

.page-section > .flexslider .ds-1col,
.page-section > .flexslider .file-video,
article.node > .flexslider .ds-1col,
article.node > .flexslider .file-video {
	left:0;
}

.page-section > .flexslider .flex-slide > div.file,
article.node > .flexslider .flex-slide > div.file {
	left: 3px;
	width: 66.7%;
}

.page-section > .flexslider .flex-active-slide .flex-slide > div.file,
article.node > .flexslider .flex-active-slide .flex-slide > div.file {
  left: 0;
}

.page-section > .flexslider .ds-1col,
.page-section > .flexslider .ds-1col .media-youtube-video,
.page-section > .flexslider .ds-1col .media-video,
article.node > .flexslider .ds-1col,
article.node > .flexslider .ds-1col .media-youtube-video,
article.node > .flexslider .ds-1col .media-vimeo-video {
	width: 100%;
}

#content .slides > li, #content .flex-slide {
	overflow: hidden;
}

#content .media-youtube-video, #content .media-youtube-vimeo {
	height: 100%;
}

article > .flexslider .slides > li,
article .flex-slide {
	height: 32.56vw;
}

.flexslider .slides > li {
  position: relative;
}

div.node-media-section > .flexslider  .slides > li {
  height: 52vw;
  max-height: 83.33vh;
}

div.node-media-section > .flexslider  .slides > li .field-name-field-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

.field-name-field-image-section .view-mode-half_width,
article > .view-mode-boxes > div > figure,
#content .field-name-field-box {
	clear: both;
	margin: 2em 0;
}

.view-mode-half_width > .group-left .file-image,
.view-mode-half_width > .group-left .file-image img {
  width: 100%;
  height: auto;
  margin: 0;
}

.view-mode-half_width > .group-left {
  margin: 1em 0;
  width: 48%;
}

.view-mode-half_width > .group-right {
  float: right;
  width: 48%;
}

article > .view-mode-boxes > div > figure h4 {
  height: 2.125em;
}

#content .field-name-field-box > article {
	width: 100%;
	margin: 0;
}

.field-name-field-box .field-name-field-image,
.field-name-field-box .field-name-body {
	width: 100%;
	float: none;
	padding: 0;
	overflow: visible;
}

.field-name-body li {
	padding-left: 1em;
	text-indent: -1em;
}

#content aside.group-highlights {
	padding: 0 0 2em 0;
}

#content aside.group-highlights h4 {
	border-bottom: solid 1px #666666;
	padding: 0 0 0.5em 0;
	margin: 1em 0 0.5em 0;
	font-size: 1.5em;
	text-align: center;
}

#content aside.group-highlights div p {
	margin: 0 0 1em 0;
	font-size: 1.1em;
}

#content form .form-submit,
#footer form .form-submit,
button.large-button {
	border: none;
	background: none;
	padding: 0.125em 0.25em;
  font-size: 1em;
}

button.large-button {
	margin: 0;
}

#content figure {
	overflow: hidden;
}

figure.view-mode-medium_text figcaption,
figure.view-mode-medium figcaption {
	position: absolute;
	top: 0;
	left: 0;
  bottom: 1%;
  right: 0;
	opacity: 0;
	padding: 5%;
	text-align: center;
	font-size: 1em;
	font-size: 1.6vw;
}

.view-mode-full .media-slideshare-wrapper iframe {
	min-height: 60vw;
}

div.node-media-section > .flexslider  .slides > li .field-name-field-text,
figure.view-mode-medium_text:hover figcaption,
figure.view-mode-medium:hover figcaption {
	opacity: 1;
	background-color: #777777;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.node-take-action.view-mode-full button.large-button,
.node-take-action.view-mode-default button.large-button {
	float: right;
	margin: 0 2em 2em 0;
}

#content .node .view-mode-full,
#content .node .view-mode-default {
	padding: 2em 0;
  position: relative;
}

#content .node .node-media-section > h2,
#content .node .node-take-action > h2,
#content .node .node-text > h2 {
	padding: 1em 0 0.125em 0;
	margin: 1em 0 0.125em 0;
}

.node-take-action.view-mode-full .field-name-body,
.node-take-action.view-mode-default .field-name-body {
	float: left;
	max-width: 75%;
	padding: 0 2em 0 0;
}

#content form .form-submit,
#footer form .form-submit,
#payment-donation-form .form-submit,
.large-button a {
	background-color: #bc2373;
	color: white;
	padding: 0.25em;
	border-radius: 0.25em;
	white-space: nowrap;
}

#donation-presets {
  margin: 0 0 1em 0;
  padding: 0.25em 0 1em 0;
}

#payment-donation-form .donation-presets-container dt,
#payment-donation-form .donation-presets-container dd {
  float: left;
}

#payment-donation-form .donation-presets-container dd {
  margin: 0;
  padding: 0 3% 0 1%;
}

#payment-donation-form .donation-presets-container dt {
  margin: 0;
  padding: 0 0 0 10%;
  cursor: pointer;
  font-weight: bold;
  width: 22.5%;
  text-align: center;
}
#payment-donation-form .donation-presets-container dd {
  opacity: 0;
  width: 12.5%;
}

.node-donate .group-header .slides li .file-image,
.node-donate .group-header .slides li .field-name-field-text {
  width: 48%;
}

.node-donate .group-header .slides li .file-image {
  float: left;
}

.node-donate .group-header .slides li .field-name-field-text {
  float: right;
}

.form-item-payment-donation-amount .description {
  opacity: 0;
}

form.controls-expanded .form-item-payment-donation-amount .description {
  opacity: 1;
}

.node-donate .field-name-field-action {
  list-style-type: none;
  margin: 0  0 1em 0;
  padding: 0;
}

.node-donate .field-name-field-action li {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.node-donate .field-name-field-action li a {
  display: block;
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  background-color: #2faeb9;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
}

.form-contracted #block-payment-donation-payment-donation {
  height: 0;
  overflow:hidden;
}

.controls-contracted .donation-controls .form-item,
.controls-contracted .donation-controls .form-actions {
  opacity: 0;
}

.controls-expanded .donation-controls .form-item,
.controls-expanded .donation-controls .form-actions {
  opacity: 1;
}

.form-expanded #block-payment-donation-payment-donation {
  height: 15em;
}

#payment-donation-form .donation-presets-container dt {
  font-weight: bold;
}

#payment-donation-form .donation-presets-container dt.selected {
  color: #23BCB9;
}

#payment-donation-form .donation-presets-container dd.selected {
  opacity: 1;
}

.large-button a {
	display: block;
  font-size: 2em;
	margin: 0 0.5em 0.5em 0;
}

/*
* Donation form
*/
#payment-donation-form .form-item-payment-donation-amount {
  color: white;
}

#payment-donation-form .form-item-payment-donation-amount input,
#payment-donation-form .form-item-payment-donation-amount select,
#payment-donation-form .form-item-payment-donation-amount label,
#payment-donation-form .form-item-payment-donation-amount div {
  color: #666666;
}

#payment-donation-form .form-item-payment-donation-amount label {
  position: absolute;
  left: -9999em;
}
#payment-donation-form .form-item-payment-donation-amount input.form-text {
  margin-left: -1.5em;
  width: 2em;
}
#payment-donation-form .form-item-payment-donation-amount select {
  font-size: 1em;
}

#payment-donation-form .form-submit {
  border: none;
  font-size: 1em;
}

.large-button a:hover {
	color: yellow;
}

div.large-button {
	padding-left: 5%;
}

#content .node .node-media-section .media-item {
	position:relative;
}

#content .node .view-mode-image_text .field-name-field-text {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 22.5%;
	padding: 1% 2.5%;
	font-size: 1.5em;
	font-size: 1.5vw;
	vertical-align: middle;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#content .node .view-mode-image_text.text-box-top-left .field-name-field-text {
	width: 50%;
	top: 5%;
	left: 2.5%;
}

#content .node .view-mode-image_text.text-box-top-left .field-name-field-text,
#content .node .view-mode-image_text.text-box-top-right .field-name-field-text,
#content .node .view-mode-image_text.text-box-bottom-left .field-name-field-text,
#content .node .view-mode-image_text.text-box-bottom-right .field-name-field-text {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

#content .node .view-mode-image_text.text-box-top-right .field-name-field-text {
	top: 5%;
	left: auto;
	right: 2.5%;
}

#content .node .view-mode-image_text.text-box-bottom-left .field-name-field-text {
	top: auto;
	left: 2.5%;
	bottom: 5%;
}

#content .node .view-mode-image_text.text-box-bottom-right .field-name-field-text {
	top: auto;
	left: auto;
	right: 2.5%;
	bottom: 5%;
}

#content .node .view-mode-image_text.white-text .field-name-field-text {
	color: white;
}

#content .node .view-mode-image_text.translucent-black-text-box .field-name-field-text {
	background-color: rgba(0,0,0,0.5);
}

#content .node .view-mode-image_text.translucent-white-text-box .field-name-field-text {
	background-color: rgba(255,255,255,0.5);
}

#content .node .view-mode-image_text.large-text .field-name-field-text {
	font-size: 2.25em;
	font-size: 2.25vw;
}

#content .node .view-mode-full_media .file-video iframe {
	height: 56.25vw;
}

#content .node .view-mode-row figure {
	padding: 0;
	margin: 0;
}

#block-sharethis-sharethis-block {
  padding: 2em 0 1em 0;
}

#block-sharethis-sharethis-block {
	clear: left;
}

#block-sharethis-sharethis-block .sharethis-wrapper > span,
#content .sharethis-wrapper > span {
	display: inline-block;
	margin: 0 0 1em 0.75em;
}

#block-sharethis-sharethis-block .sharethis-wrapper > span .stLarge,
#content .sharethis-wrapper > span .stLarge {
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

#block-sharethis-sharethis-block .sharethis-wrapper > span:hover .stLarge,
#content .sharethis-wrapper > span:hover .stLarge {
	-moz-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%)
}

figure, figcaption,
#header .block-menu-block > div,
#header .block-menu-block nav,
#header .region-header > div,
#header .region-header nav,
#block-payment-donation-payment-donation,
#header {
	-ms-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.field-name-field-slide,
.node-landing > .block-views,
.view-articles-by-topic ul li {
  clear: both;
  width: 100%;
}

.view-articles-by-topic ul li .field-name-field-image {
  float: left;
  width: 15%;
  padding: 0 2% 1em 0;
}

.view-articles-by-topic ul li .view-mode-mini_teaser {
  margin: 0.5em 0;
}

.view-articles-by-topic ul li h4 {
  margin-bottom: 0.25em;
  font-size: 1.05em;
}

.view-articles-by-topic ul li .field-name-body {
  font-size: 0.9em;
}

.view-articles-by-topic ul li .field-name-field-news-date {
  font-size: 0.75em;
  padding: 0.25em 0;
}

.view-articles-by-topic ul li {
  padding: 0;
}

/*
* News view
*/

.view-news-by-topic .view-content {
  position: relative;
  clear: both;
}

.view-news-by-topic .view-content .views-row {
  clear: both;
  overflow: hidden;
  margin: 0 0 2em 0;
}

.view-news-by-topic .view-content .views-row figure {
  float: left;
  width: 33.3%;
  padding: 0 2% 0 0;
}

.view-news-by-topic .view-content .views-row div.group-details,
.view-news-by-topic .view-content .views-row figure {
  float: left;
}

.view-news-by-topic .view-content .views-row figure {
  width: 33.3%;
  padding: 0 2% 0 0;
}



.view-display-id-page > .item-list {
  clear: both;
}

.view-news-by-topic .view-content .views-row div.group-details {
  float: right;
  width: 63%;
}

/*
SHopify
*/

.view-top-shopify-products .views-row {
  clear: both;
}

body.not-logged-in #edit-mailchimp-lists-mailchimp-email-updates-title,
.entity-property-title .entity-property-label {
  display: none;
}

.entity-shopify-product .field-name-shopify-product-images {
  float: left;
  width: 15%;
  padding: 0;
  overflow: hidden;
}

.entity-property-title {
  font-weight: bold;
  color: #23BCB9;
}

.entity-property-body-html p {
  margin: 0;
  padding: 0 0 0.5em 0;
  font-size: 0.9em;
}

.entity-shopify-product .group-details {
  position: relative;
  float: right;
  margin: 0 0 0 2%;
  width: 80%;
}

.entity-shopify-product .shopify-add-to-cart-form {
  clear: both;
}

.shopify-add-to-cart-form > div > .form-wrapper,
.shopify-add-to-cart-form > div > .form-item {
  float: left;
  padding: 0 2em 0 0;
  max-width: 10em;
  margin: 0;
}

.shopify-add-to-cart-form > div > .form-item select,
.shopify-add-to-cart-form > div > .form-item label {
  display: inline-block;
}

#payment-donation-form .donation-controls {
  clear: both;
}


#payment-donation-form .form-item, #payment-donation-form .form-wrapper,
#payment-donation-form .form-item label, #payment-donation-form .form-item input, .payment-info {
  display: inline-block;
}

#payment-donation-form .form-item, #payment-donation-form .form-wrapper,
#payment-donation-form .form-item label {
  height: 2em;
}

#payment-donation-form .form-item,
#payment-donation-form .form-item label {
  padding: 0 0 0 1em;
}

#payment-donation-form {
  position: relative;
  margin: 1em 0 4em 0;
}

#payment-donation-form .form-item {
  margin: 0;
}

.payment-info {
  position: relative;
  float: left;
  height: 2.4em;
  width: 6em;
  margin: 0;
  padding: 0 1em 0 0;
}

#payment-donation-form .form-item .description {
  position: absolute;
  bottom: -1.5em;
  font-size: 0.8em;
  left: 2em;
}

div.paypal,
div.paypal-standard,
div.paypal-express-checkout {
  /*background-image: url(//www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.svg);*/
  background-image: url(//www.paypalobjects.com/webstatic/mktg/Logo/AM_SbyPP_mc_vs_ms_ae_UK.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

@media screen and (max-width: 799px) {
	
	#content .field-name-sharethis {
		display: none;
	}
	
	#header, #logo {
		height: 10vw;
	}
	
	body.menu-expanded #header {
		height: auto;
	}
	
	body.menu-expanded #header .icon-menu {
		color: #aaaaaa;
	}
		
	#header .icon-menu {
		border: none;
		background: none;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		color: #23BCB9;
		font-size: 8vw;
	}
	
	#block-search-form,
	#header .region-header {
		position: relative;    
	}
  
  #search-block-form .icon-search {
  	top: 0.7em;
  }
	
	#header .region-header {
		width: 100%;
		height: auto;
		margin-top: 2vw;
		padding: 6vw 0 0 0;
	}
	
	#header .region-header nav {
		text-align: center;
	}
	
	#header .region-header ul.menu li {
		clear: both;
		width:100%;
		text-align: center;
		background: white;
		margin: 0;
		padding: 0.125em;
		font-size: 2em;
	}
  
  #content .ds-2col-stacked > .group-right,
  #content .ds-2col-stacked > .group-left {
    width: 100%;
    float: none;
    padding:0;
  }
	
	#header .region-header div {
		width: auto;
	}
	
	#block-search-form {
    clear: both;
		text-align: left;
    min-height: 3em;
	}
	
	#block-search-form input.form-text {
			width: 75%;
			width: 75vw;
			margin: 0.5em 0;
	}
	
	#header .region-header ul li:hover {
		background: #23BCB9;
	}
	
	#header .region-header ul li:hover a {
		color: white;
	}
	
	figure.view-mode-medium_text figcaption,
	figure.view-mode-medium figcaption {
		font-size: 1.5em;
		font-size: 3vw;
	}
  #block-textsize-widget {
    clear: both;
  }
  
  #footer .block-mailchimp-lists {
    float:none;
    width: 100%;
  }
  
  #content div.node-media-section > .flexslider  .slides > li .field-name-field-text {
     opacity: 0; 
  }
  
  #content div.node-media-section > .flexslider  .slides > li:hover .field-name-field-text {
    width: 60%;
    left: 20%;
    padding: 2%;
    z-index: 30;
    opacity: 1;
    max-height: 75%;
  }
  #content div.node-media-section > .flexslider  .slides > li:hover .field-name-field-text p {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
	
	#content .node .view-mode-column {
		float: left;
	}

	#footer #block-menu-menu-main-menu-footer {
		float: left;
		width: 35%;
	}
  
  #user-login label,
  #footer .block-mailchimp-lists label {
    width: 29%;
    text-align: right;
    overflow: hidden;
  }

  #footer .block-mailchimp-lists .form-type-checkbox label {
    width: 60%;
    text-align:left;
    margin-left: 1%;
  }
  #footer .block-mailchimp-lists input.form-checkbox {
    margin-left: 25.5%;
  }

	#footer #block-mailchimp-lists-email-updates {
		float: right;
		width: 63%;
	}
  
  article > .view-mode-boxes > div > figure,
  #content .field-name-field-box > article {
  	float: left;
  	width: 46%;
  	padding: 0 4% 0 0;
  	overflow: hidden;
    clear: none;
  }
  #content .field-name-field-box > article {
    height: 22em;
  }
	
	#content .node-media-section figure.view-mode-medium {
		float: right;
	}
	#content .node .view-mode-row figure {
		float: left;
		width: 49.9%;
	}
	
	#content article > figure.view-mode-medium {
		max-width: 49.9%;
	}
	
	#content .view-mode-full > .field-name-field-image figure.view-mode-medium {
		max-width: 100%;
	}
	
  #user-login .form-submit,
  #footer .block-mailchimp-lists .form-submit {
    margin-left: 29.5%;
  }

  #user-login .form-item .description {
    font-size: 0.9em;
    margin-left: 29%;
  }

  #user-login .form-text,
  #footer input.form-text {
    width: 16em;
    max-width: 65%;
    overflow: hidden;
  }

  #user-login input.form-text,
  #user-login label,
  #footer .form-item label,
  #footer .form-item input {
    display: inline-block;
  }
  
}

@media screen and (min-width: 800px) {

  #content .field-name-field-box > article {
    height: 24em;
  }

  #page-wrapper #header {
    margin: 0.75em auto 0 auto;
  }

	#header .region-header nav {
		position: absolute;
		bottom: -0.2em;
		right: 2%;
	}
	
	#header .region-header nav ul {
		margin: 0;
    white-space: nowrap;
    overflow: hidden;
	}

	#content aside.group-highlights {
		float: right;
		clear: right;
		width: 45%;
		padding: 0 0 4em 2%;
	}
	
	#content .has-default-image .field-name-body {
		clear: right;
	}
	
	#header .block-menu ul > li {
		font-size: 1.2em;
		padding: 0 0 0 1em;
	}
	
	header#header .block-menu-block ul > li {
		font-size: 2vw;
	}
	
	#block-search-form input.form-text {
			width: 15em;
	}
}

@media screen and (min-width: 900px) {
	#header .block-menu-block ul > li {
		font-size: 1.33em;
		padding: 0 0 0 1.25em;
	}
		
	header#header .block-menu-block ul > li {
			font-size: 1.9vw;
	}
	#block-search-form input.form-text {
			width: 16em;
	}
  
  
  
}

@media screen and (min-width: 1080px) {
	
	#content {
		font-size: 1.1em;
	}
	
	#header, #logo {
		height: 72px;
	}
	header#header .block-menu-block ul > li {
			font-size: 1.9vw;
	}
	#block-search-form input.form-text {
			width: 18em;
	}
	
	#content .node .view-mode-row {
		clear: both;
	}
	
	#content .node .view-mode-row figure {
		width: 33.3%;
	}
	#content .node-media-section figure.view-mode-medium {
		max-width: 33.3%;
	}
  
  .view-news-by-topic .view-content {
    position: relative;
    width: 104%;
    overflow: hidden;
  }
  
  .view-news-by-topic .view-content .views-row {
    clear: none;
    width: 46%;
    float: left;
    height: 16em;
    margin: 0 4% 0 0;
  }
  .payment-info {
    height: 3.6em;
    width: 9em;
  }
  
	#footer #block-mailchimp-lists-email-updates {
		width: 45%;
	}
}

@media screen and (min-width: 1200px) {
	
  #page-wrapper #header {
    margin: 1em auto 0 auto;
  }
  
	#page-title {
		font-stretch: 1.25;
	}
	
	#header .block-menu-block ul > li {
		font-size: 1.8em;
	}
	
	#content aside.group-highlights {
		width: 25%;
		padding: 0 0 6em 2em;
	}
	#content .has-default-image .field-name-body {
		clear: none;
	}
	
	#header, #logo {
		height: 80px;
	}
		
	header#header .block-menu-block ul > li {
			font-size: 1.8vw;
	}
	#block-search-form input.form-text {
			width: 16em;
	}
	#content {
		font-size: 1.2em;
	}
	
  article > .view-mode-boxes > div > figure,
	#content .field-name-field-box > article {
		width: 29.33%;
		padding: 0 4% 0 0;
	}
  
	#content .field-name-field-box > article {
  	height: 22em;
	}
  
  article > .view-mode-boxes > div > figure {
    height: 19.5em;
  }
  
}

@media screen and (min-width: 1380px) {
	
	#content {
		font-size: 1.25em;
	}
	
	#header, #logo {
		height: 90px;
	}
	header#header .block-menu-block ul > li {
			font-size: 1.75em;
	}
	#block-search-form input.form-text {
			width: 18em;
	}
	
}

@media screen and (min-width: 960px) {
	
	#header .block-menu-block ul > li {
		font-size: 1.5em;
		padding: 0 0 0 2em;
	}
	
}

@media screen and (min-width: 481px) {

	#content figure.view-mode-medium img {
		width: auto;
	}

	#content .node .node-media-section .media-item {
		clear: both;
	}
	
	#content .node-media-section.view-mode-default figure,
	#content .node-media-section.view-mode-full figure {
		clear: both;
		float: right;
		margin: 0 0 1em 1em;
		padding:; 0;
	}
}

@media screen and (max-width: 799px) {
	
  #block-search-form {
    position: relative;
  }
	
  
	.page-section > .flexslider .slides > li,
	.page-section > .flexslider .slides > li figure,
	article.node > .flexslider .slides > li,
	article.node > .flexslider .slides > li figure {
		 height: 69vw;
     background-color: white;
	}
  
  .page-section > .flexslider .slides > li figure img,
  .page-section > .flexslider .slides > li iframe,
  article.node > .flexslider .slides > li figure img,
  article.node > .flexslider .slides > li iframe {
    height: 54vw;
  }
  
  .page-section > .flexslider .flex-slide > div.file,  
  article.node > .flexslider .flex-slide > div.file {
    width: 100%;
  }
	
  .page-section > .flexslider .slides > li picture, .page-section > .flexslider .slides > li img,
	article.node > .flexslider .slides > li picture, article.node > .flexslider .slides > li img {
		position: relative;
		z-index: 20;
	}
	
  .page-section > .flexslider .slides > li .video .file-video,
	article.node > .flexslider .slides > li .video .file-video {
		width: 100%;
	}
	
  .page-section > .flexslider .flex-slide figcaption,
	article.node > .flexslider .flex-slide figcaption {
    top: 56vw;
		left: 0;
		width: 70%;
    height: auto;
		font-size: 0.9em;
	}
  
  .page-section > .flexslider .field-name-field-link,
  article.node > .flexslider .field-name-field-link {
    padding: 0;
    top: 56vw;
    width: 25%;
    height: auto;
  }
  
  .page-section > .flexslider .flex-slide > .block,
  article.node > .flexslider .flex-slide > .block {
    top: 21vw;
    right: 10%;
    width: 80%;
    background-color: rgba(255,255,255,0.5);
    z-index: 20;
  }
}

@media screen and (max-width: 480px) {
	
	#content .view-mode-full > .field-name-field-image {
		float: none;
	}
	
	#content .view-mode-full figure.view-mode-medium {
		width: 100%;
		float: none;
		padding: 0.5em 0;
	}
	
  .page-section > .flexslider figcaption,
	article.node > .flexslider figcaption {
		font-size: 1em;
	}
	
	#content .view-mode-full figure.view-mode-medium.file-video {
		width: auto;
	}

	#content .view-mode-full figure.view-mode-medium.file-video iframe {
		height: 56.25vw;
	}
	
	#content .node .view-mode-image_text .field-name-field-text {
		width: 90%;
		left: 7.5%;
		font-size: 3vw;
	}
  .view-news-by-topic .view-content .views-row div.group-details,
  .view-news-by-topic .view-content .views-row figure {
      width: 100%;
   }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .view-news-by-topic .view-content .views-row div.group-details,
  .view-news-by-topic .view-content .views-row figure {
      width: 48%;
      margin: 0 2% 0 0;
   }
}

@media screen and (min-width: 800px) and (max-width: 1079px) {
  .view-news-by-topic .view-content .views-row figure {
      width: 25%;
      margin: 0 2% 0 0;
   }
   
   .view-news-by-topic .view-content .views-row div.group-details {
     width: 73%;
   }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
	
	#content .view-mode-full figure.view-mode-medium img {
		width: 100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
	#content .view-mode-full > .field-name-field-image {
		float: left;
		clear: left;
		width: 50%;
		height: auto;
		padding: 0 1em 1em 0;
	}
}


@media screen and (min-width: 1414px) {
	
	#content {
		font-size: 1.25em;
	}
	
	.page-section > .flexslider .slides > li,
	.page-section > .flexslider  .flex-slide,	
	article > .flexslider .slides > li,
	article > .flexslider  .flex-slide {
		height: 490px;
	}
  
  div.node-media-section > .flexslider  .slides > li {
    height: 765px
  }
  
	.view-mode-full .media-slideshare-wrapper iframe {
		min-height: 816px;
	}
	#content .node .view-mode-full_media .file-video iframe {
		height: 790px;
	}
	figure.view-mode-medium_text figcaption,
	figure.view-mode-medium figcaption {
		font-size: 1.33em;
	}
}

#content .flex-control-nav {
	bottom: -3.25rem;
  clear: both;
}

#content .flex-control-nav li {
	margin: 0 0.75em 0.5em 0.75em;
}

#content .flex-control-paging li a {
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.75em;
	background-color: #aaaaaa;
}

#content .flex-control-paging li a.flex-active {
	background-color: #23BCB9;
}

#content .flex-control-paging li a:hover {
	background-color: black;
}

#content .view-mode-teaser h3.node-title {
	margin: 0.5em 0 0.125em 0;
	font-size: 1.2em;
  height: 2.5em;
}

#content .field-name-sharethis {
	clear: right;
	margin: 0 0 1em 1em;
	padding: 1em 0 1em 1em;
	float: right;
}

#content .view-mode-teaser .read-more {
	clear: right;
	float: right;
	margin: 1em 1em 0 0;
}

#content .node a.more-link,
#content .node .read-more a {
	display: inline-block;
  margin-left: 1em;
  text-style: italic;
}

#content .node a.more-link:after,
#content .view-mode-teaser .read-more a:after {
	content: " \00BB";
}

#content .view-mode-teaser .field-name-body p {
	margin: 0 0 0.25em 0;
}