@font-face {
    font-family: 'metabold';
    src: url('fonts/meta-bold.eot');
    src: url('fonts/meta-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/meta-bold.woff') format('woff'),
         url('fonts/meta-bold.ttf') format('truetype'),
         url('fonts/meta-bold.svg#meta-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metanormal';
    src: url('fonts/meta-normal.eot');
    src: url('fonts/meta-normal.eot?#iefix') format('embedded-opentype'),
         url('fonts/meta-normal.woff') format('woff'),
         url('fonts/meta-normal.ttf') format('truetype'),
         url('fonts/meta-normal.svg#meta-normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 16px;
}

body {
    background:white;
    font-family: metanormal, Helvetica, Arial, sans-serif;
		color: #666666;
}

h1,h2,h3,h4,h5,h6, #header ul.menu li a {
    font-family: metabold, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#page-wrapper {

}

body.front div#block-system-main div.content iframe {
	margin: 1em;
}

#main, #footer, #header {
	position: relative;
	clear: both;
}

#footer {
	background-color: #666666;
	margin: 1em 2% 3em 2%;
	color: white;
}

#header {
	position: relative;
	z-index: 1;
}

#main .header-rule {
	position: absolute;
	top: -1em;
	left: 2%;
	right: 2%;
	height: 1px;
	top-bottom: solid 1px #23BCB9;
}

#main {
	z-index: 2;
}

#header .block {
	margin: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#logo {
	position: absolute;
	top: 0;
	left:2%;
	width: 100%;
	background-color: white;
	background-image: url(/sites/all/themes/freetibet/images/freetibet-vector.svg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size: contain;
}

html.lt-ie9 #logo {
	background-image: url(/sites/all/themes/freetibet/images/freetibet-bitmap.png);
}

#header, #logo {
	height: 60px;
}

#header .region-header {
	position: absolute;
	pointer-events: none;
	top: 0;
	right: 2%;
	width: 86%;
	height: 100%;
}

#header .region-header nav,
#header .region-header > div,
#header .region-header button {
	pointer-events: auto;
}


/* Basic elements */
div.error {
	background: #FEF5F1 url("../images/error24.png") no-repeat 8px 8px;
}
div.status {
	background: #F8FFF0 url("../images/status24.png") no-repeat 8px 8px;
}

a:link, a:hover, a:visited, a:active {
	color: #2faeb9;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

#content .element-invisible {
	position: absolute;
	top: 0;
	left: -9999em;
}

input.form-text {
		font-size: 1em;
    padding: 0.125em;
    margin: 0.25em 0;
		height: 1em;
		border: solid 1px #2faeb9;
    font-weight:bold;
}

input.form-submit {
	cursor: pointer;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
	box-shadow: 1px 1px 2px #CC0000;
}

/* Main navigation */


/* Main menu nicemenus */

#header .block-menu-block {
    margin:0;
    height: 2em;
		position:relative;
}

#header .block-menu-block ul {
	padding-left: 0;
	list-style: none;
	text-align: center;
}


#header .block-menu-block li { 
		font-weight:bold;
    padding: 0 1.5em 0 0;
    float:left;
		list-style-type: none;
		margin: 0 0.25em 0 0;
}

#header .block-menu-block ul > li { 
	font-size: 1.5em;
}

/* Search */
#block-search-form {
    position: absolute;
    z-index: 99;
    top: 1rem;
		right: 2%;
}

#block-search-form input.form-text {
		width: 80%;
		padding: 0.25em 0 0.25em 1.25em;
		margin: 0;
		background-color: transparent;
		font-weight: normal;
}

#search-block-form .form-item {
	margin: 0;
}

#search-block-form div {
	display: inline-block;
}

#search-block-form .icon-search {
	color: #aaaaaa;
	position: absolute;
	top: 0.375em;
	left: 0.175em;
}

#search-block-form label {
	display: none;
}

#block-search-form input.form-submit {
		position: relative;
		background: none;
    height: 1.5em;
    font-size: 0.9em;
    margin:0;
    padding: 0.125em 0;
    position:relative;
		color: #2faeb9;
		border: none;
}

#header .icon-menu {
	display: none;
}

#header .icon-menu:focus {
	outline:0;
}

#footer .block-menu-block ul, #footer .block-menu-block li {
	list-style-type: none;
}

#footer .block-menu-block ul,
#footer nav.block-menu-block > ul > li {
	padding: 0;
	margin:0;
	float: none;
}

#footer nav.block-menu-block > ul > li li {
	padding: 0 0 0 1em;
}

#footer .block-menu-block li a {
	display: block;
	color: white;
}

#footer .block-menu-block li a:hover {
	color: #2faeb9;
}

#block-menu-menu-footer-menu {
	clear: both;
	height: 2em;
	margin: 2em 0;
}

#footer .block-menu-block,
#footer #block-mailchimp-lists-email-updates {
	margin-top: 1em;
}



#content article.view-mode-full{
	clear: both;
	margin: 0;
}

#content .view-mode-full > .field-name-field-image {
	clear: none;
	float: right;
	padding: 0 0 1em 1em;
}

#content figure {
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	-moz-margin-start: 0;
	-moz-margin-end: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

#content .view-mode-full figure.view-mode-medium {
	margin: 0;
	padding: 0;
}

#content .page-section {
	clear: both;
}

#content .view-mode-full figure.view-mode-medium.file-video {
	width: 50%;
	max-width: 480px;
}

#content .view-mode-full figure.view-mode-medium.file-video iframe {
	height: 29.125vw;
	max-height: 290px;
}

body.front h1#page-title {
    display:none;
}

/* Banner */

#region-banner p {
    margin:0;
    padding:0;
}

/* Email signup */

#block-block-2 h2, #block-mailchimp-lists-1 h2 {
    color:#000;
    letter-spacing:1px;
    margin-bottom:10px;
    background:#ddd;
    padding:10px;
    width:176px;
    position:relative;
    left:-14px;
    top:-4px;
        width:168px;
    background:#23BCB9;
    color:#000;
    padding:5px 14px;
    font-size:120%;
    margin-bottom:15px;
}

#block-block-2, #block-mailchimp-lists-1 {
	width: 25%;
	padding:0 1em 1em 1em;
	border: 1px solid #dddddd;
	background: #D0E0E0;
}

#block-mailchimp-lists-1 input.form-text {
	width: 100%;
}

/* Publications */

iframe#pdf {
    width: 96%;
    margin: 2%;
}

/* Slider */

figure img, picture img, #content .field-name-field-box .field-name-field-image img {
  width: 100%;
  height: auto;
}

#block-system-main .field-item div.even {
    margin-left: 1em; !important
}
 
/* Hover links */

a:hover {
    text-decoration:underline; !important
}

#page-title {
 	margin: 0 auto 0.5em auto;
	padding: 0.5em 0;
 	font-size: 2em;
	border-bottom: solid 1px #23BCB9;
}

.field-name-taxonomy-catalog .field-label {
    font-weight:normal;
}

div.display-price {
    font-size: 2.3em;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 4px;
    text-align: center;
}

.content #product_weight p, .content #product_dimensions p {
font-size: 0.85em;
margin: 0 15px;
}

.views-field-title a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.view table tbody tr td {
  padding: 1em 0.33em;
}

div.view table tbody tr {
  border-bottom: 1px solid #D0E0E0;
}

div.view table tbody tr.row-last {
  border-bottom: none;
}

.floatleft {
	float:left;
		margin:0 1em 1em 0;
}

.floatright {
    float:right;
    margin:0 0 1em 1em;
}

#block-menu-menu-footer-menu {
	clear: both;
	margin: 0 auto 0.25em auto;
}

#block-menu-menu-footer-menu ul {
	margin: 0 auto;
	text-align: center;
}

#block-menu-menu-footer-menu li {
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
    margin: 0.5em;
}

#block-menu-menu-footer-menu li a {
    color:#fff;
}

.field-type-datetime {
    margin-left:  1em;
}

#block-mailchimp-lists-1 #edit-mailchimp-lists-mailchimp-1-title {
    display:none;
}

.view-press-release-list .views-field-title {
    font-size:110%;
}

.view-press-release-list img {
    margin-left:15px;
}

.view-press-release-list strong {
    font-weight:normal;
}

.view-press-release-list.view-display-id-page_2 .views-row {
    margin-bottom:60px;
}

.view-id-press_release_list.view-display-id-page_1  .views-row {
    padding:0 0 60px 15px;
}

.view-id-press_release_list.view-display-id-block .views-row, .view-id-press_release_list.view-display-id-block_1 .views-row  {
    margin:15px;
}

#block-views-press-release-list-block-2 {
    height: 155px;
}

.view-id-publications {
    margin-left: 1em;
}

.hide {
    display:none;
}
	
	/* Block Class custom styling end */
	
#content > .view-mode-full {
  clear: both;
}	


article.node > .flexslider {
	position: relative;
	width: 100%;
}

article.node > .flexslider .field-name-field-link,
article.node > .flexslider figcaption {
	position: absolute;	
	margin:0;
}

article.node > .flexslider figure {
	margin: 0;
	padding: 0;
}



#content .svg-img {
	max-width: 100%;
}

article.node > .flexslider .field-name-field-link {
	max-width: 23%;
	padding: 1em 2% 1em 2%;
	bottom: 0;
	text-align: right;
}

article.node > .flexslider .image .field-name-field-link {
	right: 2%;
}

article.node > .flexslider .flex-slide .field-name-field-link {
	right: 0;
}

article.node > .flexslider .field-name-field-link a {
	color: #666666;
}

article.node > .flexslider .field-name-field-link a:hover {
	color: #2faeb9;;
}

article.node > .flexslider .ds-1col,
article.node > .flexslider .flex-slide > div.file,
article.node > .flexslider .ds-1col .media-youtube-video,
article.node > .flexslider .ds-1col .media-vimeo-video {
	position: absolute;
	top: 0;
	height: 100%;
}

article.node > .flexslider .field-name-field-link,
article.node > .flexslider figcaption {
  width: 30%;
  right: 0;
}

article.node > .flexslider figcaption {
  top: 0;
}

article.node > .flexslider .field-name-field-link {
  bottom: 0;
}

article.node > .flexslider .ds-1col,
article.node > .flexslider .file-video {
	left:0;
}

article.node > .flexslider .flex-slide > div.file {
	left: 0;
	width: 66.7%;
}

article.node > .flexslider .ds-1col,
article.node > .flexslider .ds-1col .media-youtube-video,
article.node > .flexslider .ds-1col .media-vimeo-video {
	width: 100%;
}

#content .slides > li, #content .flex-slide {
	overflow: hidden;
}

#content .media-youtube-video, #content .media-youtube-vimeo {
	height: 100%;
}
article > .flexslider .slides > li,
article .flex-slide {
	height: 32.56vw;
}

.flexslider .slides > li {
  position: relative;
}

div.node-media-section > .flexslider  .slides > li {
  height: 52vw;
}

div.node-media-section > .flexslider  .slides > li .field-name-field-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

#content .field-name-field-box {
	clear: both;
	margin: 2em 0;
}

#content .field-name-field-box > article {
	float: left;
	width: 48%;
	padding: 0;
	margin: 0 2% 0 0;
	overflow: hidden;
}

.field-name-field-box .field-name-field-image,
.field-name-field-box .field-name-body {
	width: 100%;
	float: none;
	padding: 0;
	overflow: visible;
}

.field-name-body li {
	padding-left: 1em;
	text-indent: -1em;
}

#content aside.group-highlights {
	padding: 0 0 2em 0;
}

#content aside.group-highlights h4 {
	border-bottom: solid 1px #666666;
	padding: 0 0 0.5em 0;
	margin: 1em 0 0.5em 0;
	font-size: 1.5em;
	text-align: center;
}

#content aside.group-highlights div p {
	margin: 0 0 1em 0;
	font-size: 1.1em;
}

button.large-button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

#content figure {
	overflow: hidden;
}

figure.view-mode-medium_text figcaption,
figure.view-mode-medium figcaption {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 90%;
	height: 90%;
	padding: 5%;
	text-align: center;
	font-size: 1em;
	font-size: 1.6vw;
}

.view-mode-full .media-slideshare-wrapper iframe {
	min-height: 60vw;
}

div.node-media-section > .flexslider  .slides > li .field-name-field-text,
figure.view-mode-medium_text:hover figcaption,
figure.view-mode-medium:hover figcaption {
	opacity: 1;
	background-color: #777777;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.node-take-action.view-mode-full button.large-button,
.node-take-action.view-mode-default button.large-button {
	float: right;
	margin: 0 2em 2em 0;
}

#content .node .view-mode-full,
#content .node .view-mode-default {
	padding: 2em 0;
	clear: both;
}

#content .node .node-media-section > h2,
#content .node .node-take-action > h2,
#content .node .node-text > h2 {
	padding: 1em 0 0.125em 0;
	margin: 1em 0 0.125em 0;
}

.node-take-action.view-mode-full .field-name-body,
.node-take-action.view-mode-default .field-name-body {
	float: left;
	max-width: 75%;
	padding: 0 2em 0 0;
}

.large-button a {
	display: block;
	background-color: #23BCB9;
	color: white;
	font-size: 2em;
	padding: 0.25em;
	border-radius: 0.25em;
	white-space: nowrap;
	margin: 0 0.5em 0.5em 0;
}

.large-button a:hover {
	color: yellow;
}

div.large-button {
	padding-left: 5%;
}

#content .node .node-media-section .media-item {
	position:relative;
}

#content .node .view-mode-image_text .field-name-field-text {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 22.5%;
	padding: 1% 2.5%;
	font-size: 1.5em;
	font-size: 1.5vw;
	vertical-align: middle;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#content .node .view-mode-image_text.text-box-top-left .field-name-field-text {
	width: 50%;
	top: 5%;
	left: 2.5%;
}

#content .node .view-mode-image_text.text-box-top-left .field-name-field-text,
#content .node .view-mode-image_text.text-box-top-right .field-name-field-text,
#content .node .view-mode-image_text.text-box-bottom-left .field-name-field-text,
#content .node .view-mode-image_text.text-box-bottom-right .field-name-field-text {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

#content .node .view-mode-image_text.text-box-top-right .field-name-field-text {
	top: 5%;
	left: auto;
	right: 2.5%;
}

#content .node .view-mode-image_text.text-box-bottom-left .field-name-field-text {
	top: auto;
	left: 2.5%;
	bottom: 5%;
}

#content .node .view-mode-image_text.text-box-bottom-right .field-name-field-text {
	top: auto;
	left: auto;
	right: 2.5%;
	bottom: 5%;
}

#content .node .view-mode-image_text.white-text .field-name-field-text {
	color: white;
}

#content .node .view-mode-image_text.translucent-black-text-box .field-name-field-text {
	background-color: rgba(0,0,0,0.5);
}

#content .node .view-mode-image_text.translucent-white-text-box .field-name-field-text {
	background-color: rgba(255,255,255,0.5);
}

#content .node .view-mode-image_text.large-text .field-name-field-text {
	font-size: 2.25em;
	font-size: 2.25vw;
}

#content .node .view-mode-full_media .file-video iframe {
	height: 56.25vw;
}

#content .node .view-mode-row figure {
	padding: 0;
	margin: 0;
}

#block-sharethis-sharethis-block {
	
}

#block-sharethis-sharethis-block {
	clear: left;
}

#block-sharethis-sharethis-block .sharethis-wrapper > span,
#content .sharethis-wrapper > span {
	display: inline-block;
	margin: 0 0 1em 0.75em;
}

#block-sharethis-sharethis-block .sharethis-wrapper > span .stLarge,
#content .sharethis-wrapper > span .stLarge {
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

#block-sharethis-sharethis-block .sharethis-wrapper > span:hover .stLarge,
#content .sharethis-wrapper > span:hover .stLarge {
	-moz-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%)
}

figure, figcaption,
#header .block-menu-block > div,
#header .block-menu-block nav,
#header .region-header > div,
#header .region-header nav,
#header {
	-ms-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

@media screen and (max-width: 799px) {
	
	#content .field-name-sharethis {
		display: none;
	}
	
	#header, #logo {
		height: 10vw;
	}
	
	#logo {
		background-position: top center;
	}
	
	body.menu-expanded #header {
		height: auto;
	}
	
	body.menu-expanded #header .icon-menu {
		color: #aaaaaa;
	}
		
	#header .icon-menu {
		border: none;
		background: none;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		color: #23BCB9;
		font-size: 8vw;
	}
	
	#block-search-form,
	#header .region-header {
		position: relative;
	}
	
	#header .region-header {
		width: 100%;
		height: auto;
		margin-top: 2vw;
		padding: 6vw 0 0 0;
	}
	
	#header .region-header nav,
	#header .region-header > div {
		clear: both;
		width:100%;
	}
	
	#header .region-header nav {
		text-align: center;
	}
	
	#header .region-header ul.menu li {
		clear: both;
		width:100%;
		text-align: center;
		background: white;
		margin: 0;
		padding: 0.125em;
		font-size: 2em;
	}
	
	#header .region-header div {
		width: auto;
	}
	
	#block-search-form {
		text-align: left;
	}
	
	#block-search-form input.form-text {
			width: 75%;
			width: 75vw;
			margin: 0.5em 0;
	}
	
	#header .region-header ul li:hover {
		background: #23BCB9;
	}
	
	#header .region-header ul li:hover a {
		color: white;
	}
	
	figure.view-mode-medium_text figcaption,
	figure.view-mode-medium figcaption {
		font-size: 1.5em;
		font-size: 3vw;
	}
}

@media screen and (min-width: 640px) {
	
	#content .node .view-mode-column {
		float: left;
	}
	
	#footer .block-menu-block {
		float: left;
		width: 45%;
	}

	#footer #block-mailchimp-lists-email-updates {
		float: right;
		width: 45%;
	}
	
	#content .node-media-section figure.view-mode-medium {
		float: right;
	}
	#content .node .view-mode-row figure {
		float: left;
		width: 49.9%;
	}
	
	#content figure.view-mode-medium {
		max-width: 49.9%;
	}
	
	#content .view-mode-full > .field-name-field-image figure.view-mode-medium {
		max-width: 100%;
	}
	
}

@media screen and (min-width: 800px) {

	#header .region-header nav {
		position: absolute;
		bottom: 0;
		right: 2%;
	}
	
	#header .region-header nav ul {
		margin: 0;
	}

	#content aside.group-highlights {
		float: right;
		clear: right;
		width: 45%;
		padding: 0 0 4em 2%;
	}
	
	#content .has-default-image .field-name-body {
		clear: right;
	}
		
	#content #page-title {
		position: relative;
		margin: 0.5em auto 0.5em auto;
		padding: 0 45% 0 0;
	}
	
	#header .block-menu-block ul > li {
		font-size: 1.2em;
		padding: 0 0 0 1em;
	}
	
	header#header .block-menu-block ul > li {
		font-size: 2.1vw;
	}
	
	#content .field-name-field-box > article {
		height: 20em;
	}
	#block-search-form input.form-text {
			width: 15em;
	}
}

@media screen and (min-width: 900px) {
	#header .block-menu-block ul > li {
		font-size: 1.33em;
		padding: 0 0 0 1.25em;
	}
		
	header#header .block-menu-block ul > li {
			font-size: 2vw;
	}
	#block-search-form input.form-text {
			width: 16em;
	}
}

@media screen and (min-width: 1080px) {
	
	#content {
		font-size: 1.1rem;
	}
	
	#header, #logo {
		height: 72px;
	}
	header#header .block-menu-block ul > li {
			font-size: 1.9vw;
	}
	#block-search-form input.form-text {
			width: 18em;
	}
	
	#content .node .view-mode-row {
		clear: both;
	}
	
	#content .node .view-mode-row figure {
		width: 33.3%;
	}
	#content .node-media-section figure.view-mode-medium {
		max-width: 33.3%;
	}
}

@media screen and (min-width: 1200px) {
	
	#page-title {
		font-stretch: 1.25;
	}
	
	#header .block-menu-block ul > li {
		font-size: 1.8em;
	}
	.not-front #content .view-mode-full {
		clear: both;
	}
	
	#content aside.group-highlights {
		width: 25%;
		padding: 0 0 6em 2em;
	}
	#content .has-default-image .field-name-body {
		clear: none;
	}
	
	#header, #logo {
		height: 80px;
	}
		
	header#header .block-menu-block ul > li {
			font-size: 1.8vw;
	}
	#block-search-form input.form-text {
			width: 20em;
	}
	#content {
		font-size: 1.2rem;
	}
	
	#content .field-name-field-box > article {
		width: 31.33%;
		margin: 0 2% 0 0;
	}
}

@media screen and (min-width: 1380px) {
	
	#content {
		font-size: 1.25rem;
	}
	
	#header, #logo {
		height: 90px;
	}
	header#header .block-menu-block ul > li {
			font-size: 1.75em;
	}
	#block-search-form input.form-text {
			width: 22em;
	}
	
}

@media screen and (min-width: 960px) {
	
	#header .block-menu-block ul > li {
		font-size: 1.5em;
		padding: 0 0 0 2em;
	}
	
}

@media screen and (min-width: 481px) {

	#content figure.view-mode-medium img {
		width: auto;
	}

	#content .field-name-field-box .field-name-field-image {
		width: 50%;
		float: left;
	}

	#content .field-name-field-box .field-name-body {
		padding: 0 0 0 4%;
		float: right;
		width: 46%;
	}
	
	#content .node .node-media-section .media-item {
		clear: both;
	}
	
	#content .node-media-section.view-mode-default figure,
	#content .node-media-section.view-mode-full figure {
		clear: both;
		float: right;
		margin: 0 0 1em 1em;
		padding:; 0;
	}
}

@media screen and (max-width: 799px) {
	
	
	#content .field-name-field-box > article {
		width: 100%;
		margin: 0;
	}
	
	article.node > .flexslider .slides > li,
	article.node > .flexslider .slides > li figure {
		height: 54vw;
	}
	
	article.node > .flexslider .slides > li figcaption {
		height: 15vw;
		padding-top: 1em;
		z-index: 3;
	}
	
	article.node > .flexslider .slides > li picture, article.node > .flexslider .slides > li img {
		position: relative;
		z-index: 20;
	}
	
	article.node > .flexslider .slides > li .video .file-video {
		width: 100%;
	}
	
	article.node > .flexslider .flex-slide figcaption {
		opacity: 0;
		left: 2%;
		top: auto;
		bottom: 10%;
		width: 80%;
		font-size: 0.9em;
		color: white;
	}
	
	article.node > .flexslider .video:hover figcaption {
		opacity: 1;
	}
}

@media screen and (max-width: 480px) {
	
	#content .view-mode-full > .field-name-field-image {
		float: none;
	}
	
	#content .view-mode-full figure.view-mode-medium {
		width: 100%;
		float: none;
		padding: 0.5em 0;
	}
	
	article.node > .flexslider figcaption {
		padding-top: 1em;
		font-size: 0.75em;
	}
	
	#content .view-mode-full figure.view-mode-medium.file-video {
		width: auto;
	}

	#content .view-mode-full figure.view-mode-medium.file-video iframe {
		height: 56.25vw;
	}
	
	#content .node .view-mode-image_text .field-name-field-text {
		width: 90%;
		left: 7.5%;
		font-size: 3vw;
	}
}

@media screen and (min-width: 481px) and (max-width: 960px) {
	
	#content .view-mode-full figure.view-mode-medium img {
		width: 100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
	#content .view-mode-full > .field-name-field-image {
		float: left;
		clear: left;
		width: 50%;
		height: auto;
		padding: 0 1em 1em 0;
	}
}


@media screen and (min-width: 1414px) {
	
	#content {
		font-size: 1.25rem;
	}
		
	article > .flexslider .slides > li,
	article > .flexslider  .flex-slide {
		height: 490px;
	}
  
  div.node-media-section > .flexslider  .slides > li {
    height: 765px
  }
  
	.view-mode-full .media-slideshare-wrapper iframe {
		min-height: 816px;
	}
	#content .node .view-mode-full_media .file-video iframe {
		height: 790px;
	}
	figure.view-mode-medium_text figcaption,
	figure.view-mode-medium figcaption {
		font-size: 1.33em;
	}
}

#content .flex-control-nav {
	bottom: -3.25rem;
}

#content .flex-control-nav li {
	margin: 0 0.75em 0.5em 0.75em;
}

#content .flex-control-paging li a {
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.75em;
	background-color: #aaaaaa;
}

#content .flex-control-paging li a.flex-active {
	background-color: #23BCB9;
}

#content .flex-control-paging li a:hover {
	background-color: black;
}

#content .view-mode-teaser h3.node-title {
	margin: 0.5em 0 0.125em 0;
	font-size: 1.2em;
}

#content .field-name-sharethis {
	clear: right;
	margin: 0 0 1em 1em;
	padding: 1em 0 1em 1em;
	float: right;
}

#content .view-mode-teaser .read-more {
	clear: right;
	float: right;
	margin: 1em 1em 0 0;
}

#content .view-mode-teaser .read-more a {
	display: inline-block;
}

#content .view-mode-teaser .read-more a:after {
	content: " \00BB";
}

#content .view-mode-teaser .field-name-body p {
	margin: 0 0 0.25em 0;
}