/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 0 0 1em 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 1em;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

#main ul.tabs {
	clear: both;
	float: left;
	margin: 1em 0;
}

ul.tabs-primary {
	margin: 1em 0 2.5em 0;
	height: 1.5em;
	padding:0;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
}

ul.tabs-primary li {
	padding: 0;
	margin: 0;
	border-right: solid 1px #999999;
	overflow:hidden;
}

ul.tabs-primary li:first-child {
	border-left: solid 1px #999999;
}

ul.tabs-primary li a {
	background: #dddddd;
	padding: 0.5em 1em 0em 1em;
	height: 1.5em;
	overflow:hidden;
	color: #999999;
}

ul.tabs-primary li a:hover, ul.tabs-primary li.is-active a {
	background-color: #2faeb9;
	color: black;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary > li > a {
  display: block;
  height: 1.5em;
  margin: 0;
  padding: 0.25em 0.5em;
  font-weight: bold;
  text-decoration: none;
}

ul.primary li a > .tab {
  display: block;
  height: 1.25em; /* 24px (parent) - 4px (padding) */
  margin: 0;
  line-height: 1.25em;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tab-secondary-bg.png) repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tab-secondary.png) repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover,
ul.secondary a:focus {
  background: url(../images/tab-secondary.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover,
ul.secondary a.active:focus {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tab-secondary.png) repeat-x left top;
}
