ul.textsize-selector, ul.textsize-selector li {
  list-style-type: none;
  padding: 0;
}

ul.textsize-selector {
  list-style-type: none;
	margin:0;
  padding:1em 0 0 0;
  font-size: 20px;
  font-size: 1.25em;
}


ul.textsize-selector li {
  display: inline-block;
	margin: 0 5px 0 0;
  margin: 0 0.4em 0 0;
	cursor: pointer;
}

ul.textsize-selector li.small {
  font-size: 0.75em;
}

ul.textsize-selector li.medium {
  font-size: 0.9em;
}

ul.textsize-selector li.large {
  font-size: 1.2em;
}

ul.textsize-selector li.xlarge {
  font-size: 1.5em;
}

ul.textsize-selector li.selected {
  color: #23BCB9;
}

html.textsize-small #main {
	font-size: 0.9em;
}

html.textsize-large #main {
	font-size: 1.2em;
}

html.textsize-xlarge #main {
	font-size: 1.5em;
}

#block-textsize-widget {
	font-size: 1rem;
}

#block-textsize-widget {
	position: relative;
	margin: 1em 0 1em 2em;
}

@media screen and (min-width:800px) {
	#block-textsize-widget {
		position: absolute;
		margin: 1em 0;
		bottom: 9em;
		right: 2%;
	}
}

#block-textsize-widget h3 {
	font-size: 0.75rem;
	text-transform: capitalize;
	display: inline-block;
	margin: 0 0 0 0.25em;
	padding: 0;
	font-weight: normal;
	color: white;
}

#block-textsize-widget ul.textsize-selector {
	display: inline-block;
}